[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==4.5.2"
pylint = "==2.2.2"

[packages]
django = "==2.1.5"
django-cas-ng = "==3.6.0"

[requires]
python_version = "3.7"
