[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==4.5.2"
pylint = "==2.2.2"

[packages]
django = "==2.1.5"
django-cas-ng = "==3.6.0"
pylint-django = "==2.0.5"
isort = "==4.3.4"
pydocstyle = "==3.0.0"
dj-database-url = "==0.5.0"
whitenoise = "==4.1.2"
gunicorn = "==19.9.0"
psycopg2 = "==2.7.6.1"

[requires]
python_version = "3.7"
