{% load static %}
<!doctype html>
<html>
  <head>
    {% include 'components/head.html' %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
      {% block navbar %}
        {% include 'components/navbar.html' %}
      {% endblock navbar %}
    </nav>
    {% block main_container %}
      <div class="container m-auto{% if vertical_center %} d-flex h-100 align-items-center{% endif %}">
      <main role="main" class="w-100">
          {% block content %}
          {% endblock content %}
      </main>
      </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block custom_scripts %}
    {% endblock custom_scripts %}
  </body>
</html>
